# Ignore the virtual environment folder
venv/

# Ignore the database file (we create a fresh one on the server)
*.db
sql_app.db

# Ignore compiled python files
__pycache__/

# CRITICAL: Ignore your API keys
.env